<app-modal [selectedImage]="modalImage" (onClose)="showModal = false" *ngIf="showModal"></app-modal>
<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf="auth.user$ | async as user">

    <div *ngIf="loading">
      <app-loading-spinner ></app-loading-spinner>
    </div>

    <div class="top">
      <p><a class="tag" routerLink="/">Back</a>
        <span class="tag is-success">
          {{ this.href }}
        </span>
      </p>
    </div>

    <div class="chat">

      <div class="animate__animated animate__zoomInUp"
           [ngClass]="msg.sender.uid === user.uid ? 'msg_owner' : 'msg' "
           *ngFor="let msg of chat; trackBy: trackByCreated">

        <div class="user">
          <img [src]="msg.sender.photoURL || 'assets/user.svg'" alt="User Icon" width="50px">
          <div><span class="tag is-dark">{{msg.sender.displayName}}</span></div>

        </div>

        <div>
<!--          <a *ngIf="msg.imageURL" [href]="msg.imageURL"><img [src]="msg.imageURL" alt="Image" width="200"></a>-->
          <img (click)="selectedImage($event)" *ngIf="msg.imageURL" [src]="msg.imageURL" alt="Image" width="200">
          <audio *ngIf="msg.audioURL" [src]="msg.audioURL" controls></audio><br>
          <p>{{msg.text}}</p>
        </div>


      </div>

    </div>

    <div class="form">
      <div class="addImage">
        <img class="mb-5" *ngIf="imageUrl" alt="Image Preview" [src]="imageUrl" (click)="imageUrl = null" width="150">

        <input type="file" accept="image/*" (change)="onselectImage($event)" hidden #addImage>

        <button class="button is-info" (click)="addImage.click()">Add Image</button>
      </div>

      <div class="addAudio">
        <audio class="mb-5" *ngIf="newAudio" [src]="newAudioURL()" controls></audio>

        <button *ngIf="!recorder; else elseBlock" (click)="record()" class="button is-danger">Record Audio</button>

        <ng-template #elseBlock>
          <button class="button is-black" (click)="stop()">Stop</button>
        </ng-template>
      </div>

      <div class="submit">
        <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit()">

        <button (click)="submit()" class="button is-info" [disabled]="(!newMsg && !imageUrl && !newAudio)">Send</button>
      </div>

    </div>

  </ng-container>
</ng-container>
