<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf="auth.user$ | async as user">

    <div class="top">
      <p><a class="tag" routerLink="/">Back</a>
        <span class="tag is-success">
          http://localhost:4200/chats/{{ chatId }}
        </span>
      </p>
    </div>

    <div class="chat">

      <div class="msg animated zoomInUp" *ngFor="let msg of chat$ | async">

        <div class="user">
          <img [src]="msg.sender.photoURL || 'assets/user.svg'" alt="User Icon" width="50px">
          <div><span class="tag is-dark">{{msg.sender.displayName}}</span></div>

        </div>

        <p>{{msg.msgId}} {{msg.text}}</p>

      </div>

    </div>

    <div class="form">
      <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit()">

      <button (click)="submit()" class="button is-info" [disabled]="!newMsg">Send</button>
    </div>

  </ng-container>
</ng-container>

<!--<div *ngFor="let message of chat$ | async">-->
<!--  <a> {{ message.text }}{{ message.createdAt}} </a>-->
<!--</div>-->

<!--<div class="form">-->
<!--  <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit()">-->
<!--  <button class="button" (click)=submit() [disabled]="!newMsg">Send</button>-->
<!--</div>-->
