<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf="auth.user$ | async as user">

    <div class="top">
      <p><a class="tag" routerLink="/">Back</a>
        <span class="tag is-success">
          {{ this.href }}
        </span>
      </p>
    </div>

    <div class="chat">

      <div class="animate__animated animate__zoomInUp"
           [ngClass]="msg.sender.uid === user.uid ? 'msg_owner' : 'msg' "
           *ngFor="let msg of chat; trackBy: trackByCreated">

        <div class="user">
          <img [src]="msg.sender.photoURL || 'assets/user.svg'" alt="User Icon" width="50px">
          <div><span class="tag is-dark">{{msg.sender.displayName}}</span></div>

        </div>

        <div>
          <p>{{msg.text}}</p>

          <audio *ngIf="msg.audioURL" [src]="msg.audioURL" controls></audio><br>
        </div>


      </div>

    </div>

    <div class="form">

      <button *ngIf="!recorder; else elseBlock" (click)="record()" class="button is-info">Record</button>

      <ng-template #elseBlock>
        <button class="button is-info" (click)="stop()">Stop</button>
      </ng-template>

      <ng-template *ngIf="newAudio">
        <audio [src]="newAudioURL()" controls></audio>
      </ng-template>


      <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit()">

      <button (click)="submit()" class="button is-info" [disabled]="!newMsg">Send</button>
    </div>

  </ng-container>
</ng-container>
