
audio {
  max-width: 200px;
}

.chat {
  padding: 10px;
  margin: 70px auto 100px;
  width: 100%;
}

.msg {
  display: flex;
  //flex-direction: row-reverse;
  align-items: flex-start;
  margin-left: auto;
  order: 2;
  text-align: left;
  //text-align: right
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
  width: 90vw;
  font-size: 1.3em;
  animation-delay: 0ms;
  animation-duration: 600ms;
  //background-color: #dadada;

  .user {
    margin-right: 10px;
    //margin-left: 10px;
    min-width: 100px;
    border-right: 1px solid #e9e9e9;
    //border-left: 1px solid #e9e9e9;
  }
}

.msg_owner {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-left: auto;
  order: 2;
  text-align: right;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
  width: 90vw;
  font-size: 1.3em;
  animation-delay: 0ms;
  animation-duration: 600ms;
  background-color: rgba(4, 37, 250, 0.04);

  .user {
    margin-left: 10px;
    min-width: 100px;
    border-left: 1px solid #e9e9e9;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding: 20px 10vw;
  background: rgba(255, 255, 255, 0.8);

  div {
    padding: 10px;
  }
}

.submit {
  display: flex;
}

.addAudio {
  display: flex;
  flex-direction: column;
}

.addImage {
  display: flex;
  flex-direction: column;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px 10vw;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

