<h1>Mchat</h1>

<div class="login">
  <div *ngIf="auth.user$ | async as user; else login">
    <img [src]="user.photoURL" width="90px" alt="User Icon">
    <p>
      <span class="tag is-dark">{{ user.displayName }}</span>
      <span class="tag is-light">{{ user.uid }}</span>
    </p>

    <button class="button is-small" (click)="auth.signUserOut()">Sign Out</button>
    <hr>

    <button class="button is-info" (click)="cs.create()">Create New Chat</button>

    <hr>

    <h3>My Chats</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a [routerLink]="'chats/' + chat.id">
          {{ chat?.id }}
        </a>
      </li>
    </ul>

  </div>


  <ng-template #login>
<!--    <button class="button" (click)="auth.googleSigIn()">Login with Google</button>-->

    <div class="google-btn" (click)="auth.googleSigIn()">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="google icon"/>
      </div>
      <p class="btn-text"><b>Sign in with google</b></p>
    </div>

  </ng-template>

</div>

